<div class="card">
    <div class="card-block">
        <div class="card-title">
            Auteur
        </div>
        <div class="card-text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam autem quod, cupiditate officiis accusamus repellendus molestiae ex nemo quaerat quae exercitationem quis illo adipisci assumenda totam quas facere. Numquam, nemo.
        </div>
        <div class="card-text" style="margin-left: 10px">
            <div class="card-block">
                <div class="card-title">
                    Auteur
                </div>
                <div class="card-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam autem quod, cupiditate officiis accusamus repellendus molestiae ex nemo quaerat quae exercitationem quis illo adipisci assumenda totam quas facere. Numquam, nemo.
                </div>
                <div class="card-text">
                    
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-link">Répondre</button>
                <button class="btn btn-sm btn-link">Réagir</button>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-sm btn-link">Répondre</button>
        <button class="btn btn-sm btn-link">Réagir</button>
    </div>
</div>