<div class="main-container">
  <div class="alert alert-app-level">
      <!-- ... -->
  </div>
  <header class="header header-6">
      <div class="branding">
        <a [routerLink]="['/']"><span class="title">Etudiant On Fire</span></a>
      </div>
      <div class="header-nav">
        <a (click)="openConnexion = !openConnexion" class="nav-link" [ngClass]="{active: openConnexion}"><span class="nav-text">Connexion</span></a>
        <a [routerLink]="['/nouveauTopic']" class="nav-link"><span class="nav-text">Créer un topic</span></a>
      </div>
  </header>
  <nav class="subnav">
    
  </nav>
  <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
      <nav class="sidenav">
        ...
      </nav>
  </div>
</div>

<app-connexion [openConnexion]="openConnexion"></app-connexion>

